*.iml
.gradle
.gitignore
/local.properties
/.idea/.gitignore
/.idea/caches
/.idea/libraries
/.idea/modules
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/buildSrc/build
/buildSrc/buildSrc/build
/includedBuilds/build-configuration/.gradle
/includedBuilds/build-configuration/build
/includedBuilds/build-source/.gradle
/includedBuilds/build-source/build
/captures
.externalNativeBuild
.cxx
local.properties
