<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.brunoti.cursos.dio.gradle.modulepj">

    <application>
        <activity android:name="br.com.brunoti.cursos.dio.gradle.modulepj.ModulePJActivity" />
    </application>

</manifest>